* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Roboto Cn", sans-serif;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #eee;
}

header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.5)), url("../../assets/img/projets/esperance/main3.jpg") center no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

nav {
  padding-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.brand {
  font-size: 3rem;
  font-weight: 300;
  transform: translateX(-100rem);
  animation: slideIn .5s forwards;
}

.brand span {
  color: crimson;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  transform: translateX(100rem);
  animation: slideIn .5s forwards;
}

nav ul li:nth-child(1) {
  animation-delay: 0s;
}

nav ul li:nth-child(2) {
  animation-delay: .3s;
}

nav ul li:nth-child(3) {
  animation-delay: .6s;
}

nav ul li:nth-child(4) {
  animation-delay: .9s;
}

nav ul li:nth-child(5) {
  animation-delay: 1.3s;
}

nav ul li a {
  padding: 1rem 0;
  margin: 0 3rem;
  position: relative;
  letter-spacing: 2px;
}

nav ul li a:last-child {
  margin-right: 0;
}

nav ul li a::before, nav ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: crimson;
  left: 0;
  transform: scaleX(0);
  transition: all .5s;
}

nav ul li a::before {
  top: 0;
  transform-origin: left;
}

nav ul li a::after {
  bottom: 0;
  transform-origin: right;
}

nav ul li a:hover::before, nav ul li a:hover::after {
  transform: scaleX(1);
}

@keyframes slideIn {
  from {
  }
  to {
    transform: translateX(0);
  }
}

/* Bouton Main-image */

.noref {
  text-align: center;
  font-size: 1vw;
}

/* copie du site */

.wrapper {
  width: 350px;
  margin: 0 auto;
  padding: 0 10px;
}

.orange {
  color: #ff7a00;
}

h1 {
  font-size: 45px;
}

footer {
  height: 260px;
  background-color: #444;
}

footer h1 {
  color: #fff;
  text-align: center;
  padding-top: 80px;
}

.copyright {
  font-size: 1.6rem;
  text-align: center;
  font-weight: bold;
  padding-top: 30px;
  color: #777;
}

li img {
  width: 20px;
}

#main-image h2 {
  font-family: "Herr Von Muellerhoff", Palatino, serif;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  padding: 150px 0 40px 0;
  margin-bottom: 20px;
  color: #eee;
}

.button1 {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #60a3bc;
  padding: 20px;
  border-radius: 50px;
  display: inline-block;
  border: none;
}

.button1:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

#main-image:nth-child(2) {
  list-style: none;
  transform: translateX(100rem);
  animation: slideIn 2.90s forwards;
}

.Couille {
  width: 100px;
}

.googlemap {
  height: 350px;
  width: 350px;
  resize: both;
  overflow: auto;
}

/* CONTACT */

#contact {
  padding: 60px 0;
  text-align: center;
}

#contact h3 {
  width: 340px;
  text-transform: uppercase;
  margin: 0 auto 20px auto;
  border-bottom: 1px solid #02b8dd;
  padding-bottom: 20px;
}

.wrapperEsp {
  width: 80%;
  max-width: 320px;
  margin: 0 auto;
  padding: 0 10px;
}

