.gradient {
  background: anti;
  color: black;
}

#portfolio {
}

.gradientbtn {
  /*background: linear-gradient(120deg,#008ea0,#ab8989);*/
  background: antiquewhite;
  color: black;
}

a:hover .gradientbtn {
  /*background: linear-gradient(120deg,#008ea0,#ab8989);*/
  background: antiquewhite;
  color: black;
}

@media (min-width: 800px) {
  .aProposPres {
    margin-left: 2em;
  }
}

@media (min-width: 800px) {
  .img-fluid.img-apropos {
    margin-top: 2.5em;
  }
}

#about-pro h2::after, #about-education .heading h2::after, #presentation h2::after, #nds h2::after, #carousel h2::after, #contact h1::after, #about-btssio h2:after, #veilleTechnologique h2:after, InternetQuantique h2:after, #assistVocaux h2:after {
  background-color: #04b713;
  width: 100px;
  height: 3px;
  display: block;
  content: '';
  text-align: center;
  margin: auto;
  margin-top: 15px;
}

#side-menu {
  background: rgb(3, 3, 207);
}

a {
  text-decoration: none;
}

.scrollbar-indigo::-webkit-scrollbar-thumb, sidebar-first-menu scrollbar-indigo thin {
  background-color: rgb(73, 73, 73) !important;
}

